//color peletes
$main: #b12f9c;
$mainLight: #c353b0;

//background
//light mode
$lightBackround: #fdfdfd;
$softLightBackground: #ebebebb1;
//dark mode
$darkBackround: #151515;
$softDarkBackground: #3d3d3d;

//text
//light mode
$pLight: rgb(0, 0, 0);
$pSoftLight: rgb(40, 40, 40);
$titlesLight: black;
$titleSoftLight: rgb(40, 40, 40);
//dark mode
$pDark: rgb(255, 255, 255);
$pSoftDark: rgb(196, 196, 196);
$titlesDark: rgb(255, 255, 255);
$titleSoftDark: rgb(217, 217, 217);

//borders
//light mode
$lightBorder: rgba(144, 144, 144, 0.707); //will be used as hover too
$lightBorder2: rgba(187, 187, 187, 0.585); //will be used as hover too

//dark mode
$darkBorder: rgba(137, 137, 137, 0.493); //will be used as hover too
$darkBorder2: rgba(89, 89, 89, 0.597); //will be used as hover too

$themes: (
	light: (
		color: white,
		paragraphColor: $pLight,
		softParagraphColor: $pSoftLight,

		titleColor: $titlesLight,
		softTitleColor: $titleSoftLight,

		background: $lightBackround,
		softBackground: $softLightBackground,
		verySoftBackground: rgba(238, 238, 238, 0.331),
		border: $lightBorder,
		border2: $lightBorder2,

		icon: rgb(52, 52, 52),
		shadow: rgba(31, 31, 31, 1),
		hover: rgba(133, 133, 133, 0.171),
		glass: rgba(178, 178, 178, 0.22),
		//----filters
		a2: rgba(226, 87, 217, 0.645),
	),

	dark: (
		color: rgba(0, 0, 0, 0.234),
		paragraphColor: $pDark,
		softParagraphColor: $pSoftDark,

		titleColor: $titlesDark,
		softTitleColor: $titleSoftDark,

		background: $darkBackround,
		softBackground: $softDarkBackground,
		verySoftBackground: rgba(18, 18, 18, 0.903),
		border: $darkBorder,
		border2: $darkBorder2,

		icon: rgb(236, 236, 236),
		shadow: rgba(227, 227, 227, 0.309),
		hover: rgba(133, 133, 133, 0.171),
		glass: rgba(58, 58, 58, 0.22),
		//----filters
		a2: rgba(249, 38, 235, 0.468),
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
