@import "./../theme/theme.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	--sb-track-color: #e4e4e400;
	--sb-thumb-color: #b12f9c;
	--sb-size: 10px;

	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 10px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.theme-dark {
	background-color: $darkBackround;
	color: white;
}

.theme-light {
	background-color: $lightBackround;
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: var(--font-poppins);
}
