@import "../../../theme/theme.scss";

.mode {
	cursor: pointer;
	.dark {
		display: flex;
		align-items: center;
		gap: 15px;

		.dark-icon {
			color: rgb(59, 62, 93);
			font-size: 21px;
		}
		h6 {
			color: $titlesLight;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 500;
		}
	}

	.light {
		display: flex;
		gap: 15px;
		align-items: center;

		.light-icon {
			color: rgb(255, 224, 21);
			font-size: 21px;
		}
		h6 {
			color: $titlesDark;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 500;
		}
	}
}
